@use 'sass:color';
@use './variables' as v;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: v.$color-base;
  background-color: v.$color-background-base;
  overflow: hidden;
  font-family: v.$font-family-base;
  font-size: v.$font-size-base;
}

kbd {
  background-color: #f7f7f7;
  border-radius: 3px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 0 black, 0 0 0 2px #fff inset;
  color: v.$color-background-base;
  display: inline-block;
  font-size: 11px;
  line-height: 1.4;
  margin: 0 0.1em;
  padding: 0.1em 0.6em;
  white-space: nowrap;
}

h2 {
  font-size: 15pt;
  margin-top: 15px;
}

ul {
  list-style-type: none;
}

code {
  background-color: color.adjust(v.$color-background-base, $lightness: 15%, $alpha: -0.5);
  padding: 0 v.$spacer-tiny;
  border-radius: 3px;
}

details {
  summary {
    cursor: pointer;
  }
}
