@use 'sass:color';
@use './variables' as v;

@mixin button($background, $text) {
  $color1: color.adjust($background, $lightness: -5%);
  $color2: color.adjust($background, $lightness: -10%);
  $color3: color.adjust($background, $lightness: -15%);
  $color4: color.adjust($background, $lightness: -20%);
  $color5: color.adjust($background, $lightness: -25%);

  color: $text;
  background-color: $background;
  border: $color1;
  box-shadow:
    0 1px 0 $color1,
    0 2px 0 $color2,
    0 3px 0 $color3,
    0 4px 0 $color4,
    0 5px 0 $color5,
    0 6px 1px rgb(0 0 0 / 10%),
    0 0 5px rgb(0 0 0 / 10%),
    0 1px 3px rgb(0 0 0 / 30%),
    0 3px 5px rgb(0 0 0 / 20%),
    0 5px 10px rgb(0 0 0 / 25%),
    0 10px 10px rgb(0 0 0 / 20%),
    0 20px 20px rgb(0 0 0 / 15%);
}

.btn {
  @include button(darkslategrey, whitesmoke);

  padding: v.$spacer-tiny v.$spacer-small;

  &--save {
    @include button(v.$color-ok, whitesmoke);
  }

  &--cancel {
    @include button(v.$color-warning, whitesmoke);
  }

  &--small {
    padding: v.$spacer-tiny;
    font-size: v.$font-size-small;
  }

  &--exit {
    @include button(v.$color-error, whitesmoke);

    position: absolute;
    top: v.$spacer-tiny;
    right: v.$spacer-tiny;
    font-family: monospace;
    font-size: v.$font-size-large;
    line-height: 1em;
    padding: v.$spacer-tiny;
    width: calc(1em + #{v.$spacer-tiny * 2});
    z-index: 10000;
  }
}
