@use './variables' as v;

.debug {
  font-size: 0.8em;
  margin-top: 10px;

  &--image {
    position: fixed;
    right: 0;
    top: 50%;
    padding: 5px;
    background-color: v.$color-background-base;
    z-index: 20;
  }
}
