@use './variables' as v;

label {
  display: block;
  padding-top: v.$spacer-small;
}

input[type="text"],
select {
  background-color: transparent;
  display: block;
  border: none;
  border-bottom: 3px solid v.$color-border-base;
  width: 100%;
  color: v.$color-base;
}

.form-actions {
  margin-top: v.$spacer-default;
  text-align: right;
}
