@use './variables' as v;

.file-icon::before {
  border-color: v.$color-background-base v.$color-background-base rgb(255 255 255 / 35%) rgb(255 255 255 / 35%);
}

.toast > .body {
  background-color: v.$color-background-base;
  &.info { background: v.$color-info}
  &.warning { background: v.$color-warning}
  &.error { background: v.$color-error }
  &.done { background: v.$color-ok}
}
