@use './variables' as v;

.opposed-cols {
  display: flex;
  margin-top: v.$spacer-tiny;

  .opposed-col {
    &--main {
      flex-grow: 1;
      font-weight: bold;
    }

    &--details {
      text-align: right;
    }
  }
}
