@use 'sass:color';
@use './variables' as v;

.overlay {
  z-index: 10;
  position: fixed;
  text-align: center;
  background-color: color.adjust(v.$color-background-base, $alpha: -0.7);
  padding: v.$spacer-large;

  &-content {
    .category-name,
    .state-info {
      font-size: 8vh;
      line-height: 1em;
      text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgb(0 0 0 / 10%), 0 0 5px rgb(0 0 0 / 10%), 0 1px 3px rgb(0 0 0 / 30%), 0 3px 5px rgb(0 0 0 / 20%), 0 5px 10px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 20%), 0 20px 20px rgb(0 0 0 / 15%);
    }
  }

  // Position variants
  &--bc {
    left: 0;
    margin-left: 50%;
    transform: translateX(-50%);
    bottom: v.$spacer-large;
  }

  &--br {
    right: v.$spacer-large;
    bottom: v.$spacer-large;
  }

  // Color variants
  &--error {
    background-color: v.$color-error;

    .error {
      padding: v.$spacer-large;
      text-align: left;
    }
  }

  &--clear {
    background-color: transparent;
  }
}
