@use 'sass:color';
@use './variables' as v;

.panel-wrapper {
  display: flex;
  z-index: 9;
}

.panel-expander {
  height: 100vh;
  padding: 0;
  cursor: pointer;
  width: v.$spacer-large;
  background-color: color.adjust(v.$panel-background, $lightness: -10%);
  opacity: v.$panel-opacity;
  box-shadow: inset 5px 0 5px -3px black;

  &:hover {
    background-color: color.adjust(v.$panel-background, $lightness: 10%);
  }

  .title {
    transform: rotateZ(90deg) translateX(v.$spacer-default);
    padding-left: v.$spacer-default;
  }
}

.panel {
  transition: all 0.2s;
  max-width: 0;
  visibility: hidden;
  flex: none;
  background-color: v.$panel-background;
  opacity: v.$panel-opacity;
  height: 100vh;
  overflow: hidden;
  box-shadow: inset 5px 0 5px -3px rgb(0 0 0 / 50%);

  &--visible {
    width: v.$info-width;
    max-width: v.$info-width;
    visibility: visible;
    overflow-y: auto;
  }

  &__header {
    background-color: color.adjust(v.$panel-background, $lightness: -15%);
    border-top: 1px solid v.$color-border-base;
    border-bottom: 1px solid v.$color-border-base;
    margin: 0 (-(v.$spacer-default));
    padding: v.$spacer-small v.$spacer-default;
    font-size: v.$font-size-large;
    font-weight: 100;

    &--segmented {
      display: flex;

      .segment {
        font-size: v.$font-size-small;
        text-align: center;
        flex-grow: 1;

        &--detail {
          font-size: v.$font-size-large;
        }
      }
    }

    &--action {
      display: flex;

      :first-child {
        flex-grow: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-right: v.$spacer-small;
      }

      > button {
        flex: none;
        margin-top: -3px;
      }
    }
  }

  &__section {
    padding: v.$spacer-small v.$spacer-default;

    &:first-child > .panel__header {
      margin-top: -(v.$spacer-small);
      border-top: none;
    }
  }

  &__subsection {
    padding: v.$spacer-small 0;
    font-size: v.$font-size-medium;
    font-weight: bold;
  }
}
