@use 'sass:color';
@use './variables' as v;

.file {
  text-align: center;
  padding: v.$spacer-large;

  &--name {
    display: block;
    font-size: 2em;
  }
}

.image,
.video {
  position: fixed;
  max-width: 100vw;
  max-height: 100vh;
  top: 0;
  right: 0;
}

.video {
  &__player {
    height: 100vh;
  }
}

.image {
  &__picture {
    max-width: 100vw;
    max-height: 100vh;
  }

  &__info {
    border: 1px solid v.$color-border-base;
    padding: 0;
    position: fixed;
    top: v.$spacer-default;
    left: 50%;
    transform: translateX(-50%);
    background-color: color.adjust($color: #000, $alpha: -0.5);
    display: flex;
    align-items: center;

    &__section {
      border-left: 1px solid v.$color-border-base;
      padding: v.$spacer-small;
      display: flex;
      align-items: center;
      gap: v.$spacer-small;

      &--name { font-family: v.$font-family-monospace; }

      .btn {
        padding: 0 v.$spacer-small;
      }
    }
  }

  // Zoom modifier
  &.zoomed {
    .image__picture {
      position: fixed;
      max-width: none;
      max-height: none;
      right: unset;
      top: 50%;
      left: 50%;
    }

    .image__container {
      position: fixed;
      inset: 0;
    }
  }
}

.item {
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0;
  z-index: 0;
  transition: scale 1s;

  &--visible {
    opacity: 1;
    z-index: 2;
  }
}

.in-category {
  $transparency: -0.7;

  background-color: color.adjust(black, $alpha: $transparency);

  &--0 {
    background-color: color.adjust(black, $alpha: $transparency);
  }

  &--1 {
    background-color: color.adjust(purple, $alpha: $transparency);
  }

  &--2 {
    background-color: color.adjust(blue, $alpha: $transparency);
  }

  &--3 {
    background-color: color.adjust(green, $alpha: $transparency);
  }

  &--4 {
    background-color: color.adjust(yellow, $alpha: $transparency);
  }

  &--5 {
    background-color: color.adjust(orange, $alpha: $transparency);
  }

  &--6 {
    background-color: color.adjust(red, $alpha: $transparency);
  }
}
