@use 'sass:color';

$info-width: 300px;
$spacer-tiny: 0.3rem;
$spacer-small: 0.5rem;
$spacer-default: 1rem;
$spacer-large: 2.5rem;

$color-error: #c00;
$color-warning: #cc6200;
$color-info: #0062cc;
$color-ok: #0c0;
$color-base: whitesmoke;
$color-background-base: #333;
$color-inverse: $color-background-base;
$color-background-inverse: $color-base;
$color-border-base: color.adjust($color-background-inverse, $alpha: -0.5);

$font-family-monospace: "Courier New", courier, monospace;
$font-family-base: "Ubuntu", "Trebuchet MS", verdana, sans-serif;
$font-size-small: 8pt;
$font-size-smaller: 0.8em;
$font-size-base: 10pt;
$font-size-medium: 12pt;
$font-size-large: 15pt;

$panel-background: $color-background-base;
$panel-opacity: 0.8;

$zindex-panel: 10;
$zindex-toast: $zindex-panel + 1;
