<template>
  <div v-if="!serverExited" id="app">
    <!-- Close button -->
    <button class="btn btn--exit" @click="exit">&times;</button>

    <!-- File display -->
    <SelectArea />

    <!-- Stats -->
    <PanelComponent title="Info" :initially-opened="true">
      <InfoComponent />
    </PanelComponent>

    <!-- Help -->
    <PanelComponent title="Help" :initially-opened="false">
      <FaqComponent />
    </PanelComponent>

    <OverlayComponent v-if="error" class="overlay--error">
      <h2>Error:</h2>
      <pre class="error">{{ error }}</pre>
    </OverlayComponent>
  </div>
  <div v-else>Server terminated; you can close this tab/window</div>
</template>

<script>
import FaqComponent from "./components/faq.vue";
import PanelComponent from "./components/panel.vue";
import InfoComponent from "./components/info.vue";
import SelectArea from "./components/select_area.vue";
import OverlayComponent from "./components/overlay.vue";

export default {
  name: "App",
  components: {
    OverlayComponent,
    SelectArea,
    InfoComponent,
    PanelComponent,
    FaqComponent,
  },
  data() {
    return {
      error: null,
    };
  },
  computed: {
    config() {
      return this.$store.getters.config;
    },
    configName() {
      return this.$store.getters.configName;
    },
    categorized() {
      return this.$store.getters.categorized;
    },
    serverExited() {
      return this.$store.getters.serverExited;
    },
  },
  methods: {
    exit() {
      this.$store.dispatch("exit");
    },
  },
  created() {
    this.error = null;
    this.$store
      .dispatch("loadPresets")
      .catch((error) => {
        this.error = error;
      })
      .then(() => {
        this.loading = false;
      });
  },
};
</script>

<style lang="scss">
@import "stylesheets/app";
</style>
