<template>
  <div>
    <section class="panel__section">
      <h2 class="panel__header">Special keys</h2>
      <ul>
        <li><code>_jump_to_first</code>: Jump to first item</li>
        <li><code>_jump_to_undone</code>: Jump to the first undone item</li>
        <li><code>_reset</code>: Remove category from item</li>
        <li><code>_apply</code>: Apply changes</li>
        <li><code>_previous</code>: Previous item</li>
        <li><code>_next</code>: Next item</li>
      </ul>
    </section>

    <section class="panel__section">
      <h2 class="panel__header">How to...</h2>
      <article>
        <h3 class="panel__subsection">...save preferences?</h3>
        <p>
          You have to edit <code>~/.config/fsg.yml</code> to save preferences in
          a file.
        </p>
      </article>
    </section>
  </div>
</template>

<script>
export default { name: "FaqComponent" };
</script>
