<template>
  <div class="file">
    <div class="file-icon file-icon-xl" :data-type="`${extension}`" />
    <div class="file--name">
      {{ file }}
    </div>
  </div>
</template>

<script>
export default {
  name: "FileComponent",
  props: {
    file: { required: true, type: String },
  },
  computed: {
    extension() {
      const extension = this.file.split(".").pop();
      if (extension.length === this.file.length) return "";
      return `.${extension}` === this.file ? "dotfile" : extension;
    },
  },
};
</script>
