<template>
  <section class="panel__section">
    <div class="panel__header panel__header--segmented">
      <div class="segment">
        Categorized
        <div class="segment--detail">
          {{ categorizedFiles !== null ? categorizedFiles : "X" }}
        </div>
      </div>

      <div class="segment">
        Current item
        <div class="segment--detail">
          {{ currentFileIndex !== null ? currentFileIndex + 1 : "X" }}
        </div>
      </div>

      <div class="segment">
        Total
        <div class="segment--detail">
          {{ totalFiles || "X" }}
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "InfoPosition",
  computed: {
    categorizedFiles() {
      return this.$store.getters.categorizedFilesAmount;
    },
    currentFileIndex() {
      return this.$store.getters.currentFileIndex;
    },
    totalFiles() {
      return this.$store.getters.totalFiles;
    },
  },
};
</script>
