<template>
  <div>
    <InfoPosition />

    <PresetSelector />

    <InfoDirectories />

    <InfoKeys />

    <InfoSummary />
  </div>
</template>
<script>
import PresetSelector from "./preset_selector.vue";
import InfoPosition from "./info_position.vue";
import InfoDirectories from "./info_directories.vue";
import InfoKeys from "./info_keys.vue";
import InfoSummary from "./info_summary.vue";

export default {
  name: "InfoComponent",
  components: {
    InfoSummary,
    InfoKeys,
    InfoDirectories,
    InfoPosition,
    PresetSelector,
  },
};
</script>
