<template>
  <section v-if="configName" class="panel__section">
    <h2 class="panel__header panel__header--action">
      <span>Directories</span>
      <button
        class="btn btn--small"
        :class="{ 'btn--cancel': showForm }"
        @click="togglePathEdition">
        {{ showForm ? "Cancel" : "Edit" }}
      </button>
    </h2>
    <div v-if="!showForm">
      <strong>In:</strong>
      <div class="directory">
        {{ config.input_dir }}
      </div>
      <strong>Out:</strong>
      <div class="directory">
        {{ config.output_dir }}
      </div>

      <div class="mt-d">
        <label><input
            type="checkbox"
            :checked="config.recursive"
            @input="toggleRecursive"/>
          Recursive</label>
      </div>

      <details class="mt-d">
        <summary>
          <strong>Ignores <small>({{ ignores.length }})</small></strong>
        </summary>
        <template v-if="ignores.length === 0">
          <em>Nothing is ignored. Add regular expressions to the
            <code>ignore</code> section of your configuration.</em>
        </template>
        <ul>
          <li v-for="ignore in ignores" :key="ignore">
            <ul>
              <code>/{{ ignore }}/</code>
            </ul>
          </li>
        </ul>
      </details>
    </div>
    <form v-else @submit.prevent="applyPaths">
      <div v-if="error" class="alert error">Check your paths</div>

      <label for="input_path">Input <em>(must exist)</em>:</label>
      <input id="input_path" v-model="inputs.input_dir" type="text" />

      <label for="output_path">Output <em>(will be created)</em>:</label>
      <input id="output_path" v-model="inputs.output_dir" type="text" />

      <div class="form-actions">
        <button type="submit" role="button" class="btn btn--save">Save</button>
      </div>
    </form>
  </section>
</template>

<script>
export default {
  name: "InfoDirectories",
  data() {
    return {
      showForm: false,
      error: null,
      inputs: {
        input_dir: "",
        output_dir: "",
      },
    };
  },
  computed: {
    config() {
      return this.$store.getters.config;
    },
    configName() {
      return this.$store.getters.configName;
    },
    ignores() {
      return this.$store.getters.ignores;
    },
  },
  methods: {
    toggleRecursive(event) {
      const categorizedFilesAmount = this.$store.getters.categorizedFilesAmount;
      if (
        categorizedFilesAmount !== 0 &&
        !confirm(
          `${categorizedFilesAmount} files are already categorized. Changing this setting will reset the list.`,
        )
      ) {
        event.target.checked = !event.target.checked;
        return;
      }

      this.$store.dispatch("toggleRecursive", event.target.checked);
    },
    togglePathEdition() {
      if (this.showForm) this.stopEdition();
      else this.editPaths();
    },
    editPaths() {
      this.$store.dispatch("setPause", true);
      this.inputs = {
        input_dir: this.config.input_dir,
        output_dir: this.config.output_dir,
      };
      this.showForm = true;
    },
    applyPaths() {
      this.error = null;
      this.$store
        .dispatch("updateConfigPaths", this.inputs)
        .then(() => {
          this.stopEdition();
          this.$emit("reset");
        })
        .catch((error) => {
          this.error = error;
        });
    },
    stopEdition() {
      this.showForm = false;
      this.$store.dispatch("setPause", false);
    },
  },
};
</script>
