<template>
  <section class="panel__section">
    <h2 class="panel__header">Keys</h2>
    <div v-for="(action, index) in categoriesWithKeys" :key="index">
      <h3 class="panel__subsection">
        {{ index }}
      </h3>
      <table>
        <tbody>
          <tr v-for="(keys, category) in action" :key="category">
            <td>{{ humanizeKey(category) }}</td>
            <td>
              <kbd v-for="key in keys" :key="key">
                {{ key }}
              </kbd>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</template>

<script>
export default {
  name: "InfoKeys",
  computed: {
    categoriesWithKeys() {
      return this.$store.getters.categoriesWithKeys;
    },
  },
  methods: {
    humanizeKey(action) {
      return action.replace(/^(_|category:)/, "");
    },
  },
};
</script>
