<template>
  <section class="panel__section">
    <h2 class="panel__header">Summary</h2>
    <ul>
      <li v-for="(items, name) in categorized" :key="name" class="categories">
        <div class="opposed-cols">
          <div class="opposed-col--main">
            {{ name }}
          </div>
          <div class="opposed-col--detail">
            {{ items.length }}
          </div>
        </div>
      </li>
    </ul>
  </section>
</template>

<script>
export default {
  name: "InfoSummary",
  computed: {
    categorized() {
      return this.$store.getters.categorized;
    },
  },
};
</script>
