<template>
  <div class="overlay" :class="`overlay--${position}`">
    <div class="overlay-content">
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  name: "OverlayComponent",
  props: { position: { required: false, type: String, default: "bc" } },
};
</script>
