<template>
  <div class="panel-wrapper">
    <div class="panel" :class="{ 'panel--visible': opened }">
      <slot />
    </div>
    <div class="panel-expander" @click="opened = !opened">
      <div class="title">
        {{ title }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "PanelComponent",
  props: {
    title: { required: true, type: String },
    initiallyOpened: { required: false, type: Boolean, default: false },
  },
  data() {
    return {
      opened: this.$props.initiallyOpened,
      openedPreviousState: null,
    };
  },
  computed: {
    zooming() {
      return this.$store.getters.zooming;
    },
  },
  watch: {
    zooming(newValue, oldValue) {
      // Start zooming
      if (newValue && newValue !== oldValue) {
        this.openedPreviousState = this.opened;
        this.opened = false;
      } /* Stop zooming */ else if (newValue !== oldValue) {
        this.opened = this.openedPreviousState;
      }
    },
  },
};
</script>
