<template>
  <div ref="container" class="image" :class="zoomed ? 'zoomed' : ''">
    <!-- Overlay and picture-->
    <div ref="overlay" class="image__container">
      <img
        ref="picture"
        :src="picturePath"
        class="image__picture"
        alt="The file"
        :style="imageStyle"
        @loadstart="loading = true"
        @load="loadEndHandler"/>
    </div>

    <!-- Loading message for images -->
    <OverlayComponent v-show="loading" class="overlay--clear" position="br">
      <div ref="spinner" class="spinner" />
    </OverlayComponent>

    <div class="image__info">
      <span class="image__info__section image__info__section--name">{{
        file
      }}</span>
      <span class="image__info__section">{{ pictureSize.width }}×{{ pictureSize.height }}</span>
      <span class="image__info__section">
        <span>×{{ zoomValue(zoomedSize.height / pictureSize.height) }}</span>
        <button class="btn" @click="setZoom(initialRatio)">Fit</button>
        <button class="btn" @click="setZoom(1)">×1</button>
      </span>
    </div>
  </div>
</template>
<script>
import c from "../config";
import { Spinner } from "spin.js";
import OverlayComponent from "./overlay.vue";

// Determines how much the zoom factor is modified on scroll
const zoomFactorStep = 0.1;

export default {
  name: "PictureComponent",
  components: { OverlayComponent },
  props: {
    file: { required: true, type: String },
    // Client size
    // Used to display images with a size relative to the viewport.
    // Should be passed by the parent and is like
    // { height: <Number>, width: <Number> }
    clientSize: { required: true, type: Object },
  },
  data() {
    return {
      spinner: new Spinner(c.spinnerOptions),
      loading: false,
      // Picture real size
      pictureSize: { width: 0, height: 0 },
      // Side used to compute sizes (the longest side)
      biggestSide: "width",
      // Container/picture size ratio, changes when window is resized
      initialRatio: null,
      // Current display ratio
      displayRatio: null,
      mousePosition: { x: 0, y: 0 },
    };
  },
  computed: {
    picturePath() {
      return `${c.apiUrl}/file/${encodeURIComponent(
        this.file,
      )}?input_dir=${encodeURIComponent(this.input_dir)}`;
    },
    /**
     * Determines if the image is zoomed or not
     */
    zoomed() {
      return this.displayRatio !== this.initialRatio;
    },
    /**
     * Determines the actual image size on screen
     */
    zoomedSize() {
      return {
        height: this.pictureSize.height * this.displayRatio,
        width: this.pictureSize.width * this.displayRatio,
      };
    },
    /**
     * Inline style for the picture
     */
    imageStyle() {
      if (!this.zoomed) return;

      const translation = {
        x: Math.round(-this.mousePositionRatio.x * this.zoomedSize.width),
        y: Math.round(-this.mousePositionRatio.y * this.zoomedSize.height),
      };
      const sideSizeString = `${this.biggestSide}:${
        this.zoomedSize[this.biggestSide]
      }px;`;
      const translationString = `transform: translate(${translation.x}px, ${translation.y}px)`;
      return `${sideSizeString} ${translationString}`;
    },
    /**
     * Mouse position on screen
     */
    mousePositionRatio() {
      if (this.displayRatio < this.initialRatio) return { x: 0.5, y: 0.5 };
      return {
        x: this.mousePosition.x / this.clientSize.width,
        y: this.mousePosition.y / this.clientSize.height,
      };
    },
    input_dir() {
      return this.$store.getters.config.input_dir;
    },
  },
  methods: {
    /**
     * Zooms in the picture
     * @param {WheelEvent} e - The event
     */
    wheelHandler(e) {
      e.preventDefault();
      const stepDirectionFactor = e.deltaY > 0 ? -1 : 1;

      this.setZoom(
        this.displayRatio +
          Math.sinh(this.displayRatio * zoomFactorStep * stepDirectionFactor),
      );
    },
    /**
     * Gets sizes and computes ratios when picture is loaded
     */
    loadEndHandler() {
      this.pictureSize = {
        height: this.$refs.picture.naturalHeight,
        width: this.$refs.picture.naturalWidth,
      };
      this.biggestSide =
        this.pictureSize.width / this.pictureSize.height > 1
          ? "width"
          : "height";
      this.updateInitialRatio();
      this.displayRatio = this.initialRatio;

      this.$refs.overlay.addEventListener("mousemove", (e) => {
        this.mousePosition = {
          x: e.clientX,
          y: e.clientY,
        };
      });
      this.loading = false;
    },
    /**
     * Updates client-to-picture ratio
     */
    updateInitialRatio() {
      const zoomed = this.zoomed;
      const smallestSide = this.biggestSide === "height" ? "width" : "height";

      this.initialRatio =
        this.clientSize[smallestSide] / this.pictureSize[smallestSide];

      // Adapt display ratio when not zoomed
      if (!zoomed) this.displayRatio = this.initialRatio;
    },
    /**
     * Forces zoom to a specific level
     * @param {number|null} level
     */
    setZoom(level = null) {
      if (level <= 0.1) level = 0.1;
      if (level >= 15) level = 15;

      this.displayRatio = level || this.initialRatio;
      this.$store.dispatch(
        "setZooming",
        this.displayRatio !== this.initialRatio,
      );
    },
    zoomValue(value) {
      return Math.round(value * 100) / 100;
    },
  },
  watch: {
    /**
     * Handles changes in client size
     */
    clientSize() {
      this.updateInitialRatio();
    },
  },
  /**
   * Attach events
   */
  created() {
    this.$nextTick(() => {
      this.$refs.container.addEventListener("wheel", this.wheelHandler);
      this.spinner.spin(this.$refs.spinner);
    });
    this.$store.dispatch("setZooming", false);
  },
  beforeUnmount() {
    this.$refs.container.removeEventListener("wheel", this.wheelHandler);
  },
};
</script>
