<template>
  <section class="panel__section">
    <h2 class="panel__header panel__header--action">
      <span>Preset{{ currentConfig ? `: ${currentConfig}` : "" }}</span>
      <button
        class="btn btn--small"
        :class="{ 'btn--cancel': showForm }"
        @click="showForm = !showForm">
        {{ showForm ? "Cancel" : "Change" }}
      </button>
    </h2>

    <form v-show="showForm" @submit.prevent="setPreset">
      <label for="preset_selector">Choose one:</label>
      <select id="preset_selector" v-model="preset" name="preset">
        <option />
        <option v-for="key in Object.keys(presets)" :key="key" :value="key">
          {{ key }}
        </option>
      </select>

      <div v-if="error" class="alert error">
        Check your paths, one may be invalid for this preset.
      </div>

      <div class="form-actions">
        <button
          role="button"
          type="submit"
          class="btn btn--save"
          :disabled="!preset">
          Apply
        </button>
      </div>
    </form>
  </section>
</template>

<script>
export default {
  name: "PresetSelector",
  data() {
    return {
      preset: null,
      error: false,
      showForm: false,
    };
  },
  computed: {
    presets() {
      return this.$store.getters.presets;
    },
    currentConfig() {
      return this.$store.getters.configName;
    },
  },
  methods: {
    setPreset() {
      this.error = false;
      const data = {
        name: this.preset,
        config: this.presets[this.preset],
      };
      this.$store
        .dispatch("setConfig", data)
        .catch(() => {
          this.error = true;
        })
        .then(() => {
          this.showForm = false;
        });
    },
  },
  watch: {
    currentConfig(newValue) {
      this.preset = newValue;
    },
  },
};
</script>
