<template>
  <div class="item" :class="{ 'item--visible': visible }">
    <!-- Images -->
    <PictureComponent v-if="isImage" :file="file" :client-size="clientSize" />

    <video-component v-else-if="isVideo" ref="videoPreview" :file="file" />

    <!-- Regular files -->
    <FileComponent v-else :file="file" />

    <OverlayComponent v-if="category" :class="overlayCSS">
      <div class="category-name">
        {{ category }}
      </div>
    </OverlayComponent>
  </div>
</template>

<script>
import PictureComponent from "./picture.vue";
import FileComponent from "./file.vue";
import OverlayComponent from "./overlay.vue";
import VideoComponent from "./video.vue";

export default {
  name: "PreviewComponent",
  components: {
    VideoComponent,
    OverlayComponent,
    FileComponent,
    PictureComponent,
  },
  props: {
    file: { required: true, type: String },
    visible: { required: false, type: Boolean, default: true },
  },
  data() {
    return {
      loading: false,
      clientSize: { height: 0, width: 0 },
    };
  },
  computed: {
    isImage() {
      return this.file.match(/\.(jpg|jpeg|png|gif|webp)$/i);
    },
    isVideo() {
      return this.file.match(/\.(mp4|avi|mpg|mpeg|webm|flv)$/i);
    },
    category() {
      return this.$store.getters.isCategorized(this.file);
    },
    overlayCSS() {
      if (this.category) {
        const index = Object.keys(this.$store.getters.categorized).indexOf(
          this.category,
        );
        return `in-category in-category--${index}`;
      }
      return "";
    },
  },
  methods: {
    resizeHandler() {
      this.clientSize = {
        width: window.innerWidth,
        height: window.innerHeight,
      };
    },
  },
  watch: {
    visible(newValue) {
      if (this.isVideo) {
        if (newValue) {
          this.$refs.videoPreview.play();
        } else {
          this.$refs.videoPreview.pause();
        }
      }
    },
  },
  created() {
    this.resizeHandler();
    window.addEventListener("resize", this.resizeHandler);
  },
  unmounted() {
    window.removeEventListener("resize", this.resizeHandler);
  },
};
</script>
