<template>
  <div>
    <template v-if="ready && !sending">
      <PreviewComponent
        v-for="file in fileStack"
        :key="file"
        :visible="isCurrentFile(file)"
        :file="file"/>
    </template>

    <OverlayComponent v-show="error">
      <h2>Error:</h2>
      <pre class="error">{{ error }}</pre>
    </OverlayComponent>

    <OverlayComponent v-if="files && files.length === 0">
      <div class="state-info">No file to process.</div>
    </OverlayComponent>

    <OverlayComponent v-if="paused">
      <div class="state-info">Pause</div>
    </OverlayComponent>

    <OverlayComponent
      v-show="sending || !ready"
      position="br"
      class="overlay--clear">
      <div ref="spinner" class="spinner" />
    </OverlayComponent>
  </div>
</template>

<script>
import { Spinner } from "spin.js";
import keyHandlers from "../key-handlers";
import c from "../config";
import PreviewComponent from "./preview.vue";
import OverlayComponent from "./overlay.vue";

export default {
  name: "SelectArea",
  components: {
    OverlayComponent,
    PreviewComponent,
  },
  data() {
    return {
      spinner: new Spinner(c.spinnerOptions),
      categorizedIndexes: [],
      ready: false,
      error: null,
      sending: false,
    };
  },
  computed: {
    currentFile() {
      return this.$store.getters.currentFile;
    },
    currentFileIndex() {
      return this.$store.getters.currentFileIndex;
    },
    files() {
      return this.$store.getters.files;
    },
    fileStack() {
      const index = this.currentFileIndex;
      const size = this.files.length;
      const start = index > 1 ? index - 2 : 0;
      const end = size - start < 2 ? size - start : start + c.maxFileStack;
      return this.files.slice(start, end);
    },
    configName() {
      return this.$store.getters.configName;
    },
    config() {
      return this.$store.getters.config;
    },
    categorized() {
      return this.$store.getters.categorized;
    },
    paused() {
      return this.$store.getters.paused;
    },
  },
  methods: {
    initializeArea() {
      this.ready = false;
      this.categorizedIndexes = [];
      document.removeEventListener("keyup", this.keyEventHandler);
      document.addEventListener("keyup", this.keyEventHandler);
      // Delay ready state to have time to destroy previewer
      window.setTimeout(() => {
        this.ready = true;
      }, 200);
    },
    isCurrentFile(file) {
      return this.files.indexOf(file) === this.currentFileIndex;
    },
    sendCurrent() {
      this.sending = true;
      this.error = null;
      const payload = {
        files: this.categorized,
        input_dir: this.config.input_dir,
        output_dir: this.config.output_dir,
      };
      this.$store
        .dispatch("saveFiles", payload)
        .then(() => {
          this.initializeArea();
        })
        .catch((error) => {
          this.error = error;
        })
        .then(() => {
          this.sending = false;
        });
    },
    keyEventHandler(e) {
      const keys = Object.keys(c.customKeyReferences);
      if (
        this.paused ||
        e.ctrlKey ||
        e.shiftKey ||
        e.altKey ||
        ["Control", "Shift", "Alt", "Enter"].indexOf(e.key) > -1
      )
        return;
      let keyboardKey = e.key;
      for (const k in keys) {
        if (e.key === c.customKeyReferences[keys[k]]) {
          keyboardKey = keys[k];
        }
      }
      this.handleKey(keyboardKey);
    },
    handleKey(key) {
      const keyboard = this.config.keyboard;
      if (keyboard.controls[key]) {
        this[keyboard.controls[key]]();
      } else if (keyboard.categories[key]) {
        this._category(keyboard.categories[key]);
      } else {
        console.warn(`Unknown action for key ${key}`);
      }
    },
    ...keyHandlers,
  },
  watch: {
    configName(newVal) {
      if (newVal) {
        this.initializeArea();
      }
    },
  },
  created() {
    this.$nextTick(() => {
      this.spinner.spin(this.$refs.spinner);
    });
  },
};
</script>
