<template>
  <div class="video">
    <video ref="player" controls class="video__player">
      <source :src="videoPath" />
      Sorry, your browser doesn't support embedded videos.
    </video>
    <h2>{{ file }}</h2>
  </div>
</template>

<script>
import c from "../config";

export default {
  name: "VideoComponent",
  props: {
    file: { required: true, type: String },
  },
  computed: {
    videoPath() {
      return `${c.apiUrl}/file/${this.file}?input_dir=${encodeURIComponent(
        this.input_dir,
      )}`;
    },
    extension() {
      const extension = this.file.split(".").pop();
      if (extension.length === this.file.length) return "";
      return `.${extension}` === this.file ? "dotfile" : extension;
    },
    input_dir() {
      return this.$store.getters.config.input_dir;
    },
  },
  methods: {
    pause() {
      this.$refs.player.pause();
    },
    play() {
      this.$refs.player.play();
    },
  },
  created() {
    this.$nextTick(() => {
      this.play();
    });
  },
};
</script>
